.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.rContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.rInput {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
}

.rButton {
  width: 100px;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.rButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error {
  color: red;
  margin-top: 10px;
}
